# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build folders
build/

# Env
.env
application-local.yaml
application-dev.yaml
